@import "../../../resources/css/base.css";
@import "font.css";

#body
{
	padding: 2em 0em;
}

#body-panel
{
	float: left;
	width: 0%;
	height: 100%;
	display: none;
}

#body-content
{
	float: left;
	width: 100%;
	height: 100%;
}

.section
{
	margin: 0px;
	width: 90vw;
}

.post-body a img
{
	width: 80%;
	height: auto;
}

@media screen and (min-width: 800px) 
{
	#body-panel
	{
		width: 25%;
		display: block;
	}

	#body-content
	{
		border-left: 1px solid #DDDDDD;
		width: 74%;
	}

	.section
	{
		margin: 0px 1em;
		width: auto;
	}

	.post-body a img
	{
		width: auto;
	}
}