@import "../main";

.home-container {
  .home-header {
    position: relative;

    .home-header-image {
      position: fixed;
      width: 100%;
      height: 100vh;

      .home-header-image-wrapper {
        position: absolute;
        top: 45%;
        -ms-transform: translateY(-45%);
        transform: translateY(-45%);
        width: 100%;

        .home-header-image-content {
          margin: auto auto;
          height: 400px;
          width: 400px;
          background: url("https://avatars3.githubusercontent.com/u/14993950?s=460&u=bb1dd529ecadeb7db9fa57be0203bc94f7dd2c57&v=4");
          background-attachment: fixed;
          clip-path: circle(200px at center);
        }
      }
    }

    .home-header-spacer {
      position: relative;
      height: 100vh;
    }

    .home-header-welcome {
      position: relative;
      padding-bottom: $spacing-xxl * 2;
      text-align: center;
    }
  }

  .intro {
    background: $primary-colour;
    
    .intro-content {
      margin: 0px auto;
      padding: $spacing-xxl;
      max-width: $desktop-max-width;
      color: $primary-colour-inverse;
    }
  }
}