p, h1, h2, h3, h4, h5, #left-panel #twitter_div ul li
{
	margin: 0px;
	font-family: arial, sans-serif;
}

h1
{
	color: #666;
}

h3, a
{
	color: #6ECAFF;
}

h4 {
	color: #666;
	font-size: 0.8em;
	margin: 2px 0px;
}

h5 {
	color: #666;
	font-size: 0.7em;
	margin: 2px 0px;
}

p {
	margin: 0.5em 0;
	font-size: 0.8em;
}

.contact-container-text {
	width: 15em;
	text-align: right;
}